.root {
  top: 0;
  left: 0;
  width: calc(100% - 50px);
  min-width: 1280px;
  height: 50px;
  border-top: 1px solid var(--border-color);
  background-color: var(--white);
  /** backdrop-filter: var(--backdrop-filter); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  font-size: 15px;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .root {
    width: 100%;
    padding-right: 50px;
  }
}

.link {
  text-decoration: underline;
  color: black;
  transition: .1s;
}

.link:hover {
  color: var(--link-active);
}

.link:active {
  color: var(--link-active);
}
